collect_voice/__pycache__/
voice_classfy/cache/*
voice_classfy/*.ann
voice_classfy/.vscode/*
voice_classfy/speakerMap.json
voice_classfy/__pycache__/*
collect_voice/cache/*
voice_classfy/confirmedFiles.json
voice_classfy/sndMap.json
